<div id="annotations-header" class="row my-row">
  <div class="row">
    <div id="btn-open-annotations-filters-container" class="col m5">
      <a id="btn-open-annotations-filters" class="waves-effect waves-light btn grey lighten-2 dropdown-trigger" data-target="annotation-filter-options"><i id="filter-annotation-icon" class="material-icons left">expand_more</i>Filter Annotations</a>
      <div id="annotations-filter-options">
        <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="material-icons">format_quote</i>Annotated By</div>
              <div class="collapsible-body filter-collapsible-body">
                <div class="filter-options-collapsible-body">
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-annotated-by-filter" type="checkbox" />
                    <span class="checkbox-filter-name">John Boy</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-annotated-by-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Sam Smith</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-annotated-by-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Fredrick Douglas</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-annotated-by-filter" type="checkbox" />
                    <span class="checkbox-filter-name">James Brown</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-annotated-by-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Lebron James</span>
                  </label>
                </p>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">class</i>By Class</div>
              <div class="collapsible-body filter-collapsible-body">
                <div class="filter-options-collapsible-body">
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-class-filter" type="checkbox" />
                    <span class="checkbox-filter-name">John Boy</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-class-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Sam Smith</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-class-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Fredrick Douglas</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-class-filter" type="checkbox" />
                    <span class="checkbox-filter-name">James Brown</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-class-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Lebron James</span>
                  </label>
                </p>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">assignment</i>By Document</div>
              <div class="collapsible-body filter-collapsible-body">
                <div class="filter-options-collapsible-body">
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-document-filter" type="checkbox" />
                    <span class="checkbox-filter-name">John Boy</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-document-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Sam Smith</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-document-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Fredrick Douglas</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-document-filter" type="checkbox" />
                    <span class="checkbox-filter-name">James Brown</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-document-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Lebron James</span>
                  </label>
                </p>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">bookmark</i>By Tags</div>
              <div class="collapsible-body filter-collapsible-body">
                <div class="filter-options-collapsible-body">
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-tags-filter" type="checkbox" />
                    <span class="checkbox-filter-name">John Boy</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-tags-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Sam Smith</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-tags-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Fredrick Douglas</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-tags-filter" type="checkbox" />
                    <span class="checkbox-filter-name">James Brown</span>
                  </label>
                </p>
                <p class="filtering-options-container">
                  <label>
                    <input class="input-filter-checkbox-for-annotations input-by-tags-filter" type="checkbox" />
                    <span class="checkbox-filter-name">Lebron James</span>
                  </label>
                </p>
                </div>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="material-icons">event</i>By Date Created</div>
              <div class="collapsible-body filter-collapsible-body">
                <div class="filter-options-collapsible-body">
                <div class="row">
                  <div class="col m6">
                    <input id="input-start-date-for-annoations" type="text" class="datepicker">
                    <label for="input-start-date-for-annoations">Start Date</label>
                  </div>
                  <div class="col m6">
                    <input id="input-end-date-for-annoations" type="text" class="datepicker">
                    <label for="input-end-date-for-annoations">End Date</label>
                  </div>
                </div>
                </div>
              </div>
            </li>
          </ul>
      </div>
    </div>
    <div id="text-filter-status" class="col m7"><span class="new badge right count-badge" data-badge-caption="Results">16</span><span class="right">Default: Annotated By You</span></div>
  </div>

  <div id="chip-filter-container-for-annotations" class="col m12">
    <span id="annotated-by-filter-container-organizer">
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">comment</i><span>Bilbo Bagins</span><i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
    </span>
    <span id="by-group-filter-container-organizer">
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">group</i><span>Group Name</span><i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">group</i>Group Name<i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">group</i>Group Name<i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
    </span>
    <span id="by-document-filter-container-organizer">
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">assignment</i><span>Document Name</span><i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">assignment</i>Document<i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">assignment</i>Document Name<i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
    </span>
    <span id="by-tags-filter-container-organizer">
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">bookmark</i>Tag 1<i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">bookmark</i>Tag 1<i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">bookmark</i>Tag 1<i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
    </span>
    <span id="by-date-filter-container-organizer">
      <div class="chip meta-data-chips">
        <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">event</i>03/20/20 to 03/27/20<i class="close material-icons meta-data-tag-icons">cancel</i></div>
      </div>
    </span>





  </div>
  <div id="updating-fitler-for-annotations" class="col l12 m12 s12 center-align">
    <div class="col l12 m12 s12"><h5>Updating Filters</h5></div>
    <div class="col l12 m12 s12">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
