<div id="annotations-body">

  <div class="annotation-grouping row">
    <div class="annotation-grouping-header">
      <span class="group-name-title"><i class="material-icons">expand_less</i>Title of Group</span>
      <span class="new badge" data-badge-caption="Annotations">4</span>
    </div>
    <div class="annotation-grouping-body">
      <div id="unique-block-id-330eds4" class="annotation-card-container interact-draggable col m6 annotation-already-exists-in-ideaspace">

        <div class="card white hoverable">
         <div class="card-content">
           <div class="col l12 m12 my-col">
             <span class="annotation-made-short-hand">Mar 26</span>
           </div>
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
         <div class="alert-triangle"></div>
         <div class="annotation-already-exist-in-ideaspace-box valign-wrapper growing-triangle">
           <h5 class="center-align">This annotation already exists in the current Idea Space that is selected</h5>
         </div>
        </div>


      </div>
      <div id="unique-block-id-3cxvw7" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">
             <span class="text-to-show"></span>
             <a class="show-more-text" card-id="unique-block-id-3cxvw7">...read more</a>
             <span class="text-to-hide"></span>
             <a class="show-less-text" card-id="unique-block-id-3cxvw7">...read less</a>
           </p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">
             <span class="text-to-show"></span>
             <a class="show-more-text" card-id="unique-block-id-3cxvw7">...read more</a>
             <span class="text-to-hide"></span>
             <a class="show-less-text" card-id="unique-block-id-3cxvw7">...read less</a>
           </p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-bcc32122324" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively. I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively. I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-3ger34437" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">I am a very simple card.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-h343" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-3dsdsf" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-344535s4" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div class="col m12 center"><a class="btn-load-more-annotations">Load More Annotations</a></div>
      <div class="progress col m6 offset-m3 s12 center loader-load-more-annotations">
          <div class="indeterminate"></div>
      </div>
    </div>
  </div>

  <div class="annotation-grouping row">
    <div class="annotation-grouping-header">
      <span class="group-name-title"><i class="material-icons">expand_less</i>Title of Group</span>
      <span class="new badge" data-badge-caption="Annotations">4</span>
    </div>
    <div class="annotation-grouping-body">
      <div id="unique-block-id-34" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-37" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-32122324" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-334437" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-34sdas" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-373dwaed" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-3212232qdqwas4" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

               <span class="new badge left" data-badge-caption="#tag1"></span>
               <span class="new badge left" data-badge-caption="#another interesting tag"></span>
               <span class="new badge left" data-badge-caption="#this is my tag"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <span class="new badge left" data-badge-caption="#fame"></span>
               <span class="new badge left" data-badge-caption="#imagery"></span>
               <span class="new badge left" data-badge-caption="#color"></span>
               <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div id="unique-block-id-3333qgg5r4437" class="annotation-card-container interact-draggable col m6">

        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">

                 <span class="new badge left" data-badge-caption="#tag1"></span>
                 <span class="new badge left" data-badge-caption="#another interesting tag"></span>
                 <span class="new badge left" data-badge-caption="#this is my tag"></span>
                 <span class="new badge left" data-badge-caption="#color"></span>
                 <span class="new badge left" data-badge-caption="#fame"></span>
                 <span class="new badge left" data-badge-caption="#imagery"></span>
                 <span class="new badge left" data-badge-caption="#color"></span>
                 <div><i class="material-icons right annotation-more-information-icon">expand_more</i></div>

             </div>
           </div>
           <div class="row annotation-extra-info">
             <!--<div class="col offset-m1 offset-s1 m10 s10 text-annotation-dividing-line"></div>-->
             <div class="col m12 s12 annotation-document-name">Document Name: <span class="dynamic">This is the documents name</span></div>
             <div class="col m12 s12 annotation-document-author">Author: <span class="dynamic">Author of document</span></div>
             <div class="col m12 s12 annotation-document-data"><span class="dynamic">More data about the document</span></div>
             <div class="col m12 s12 annotation-group-name">Group: <span class="dynamic">Group Name 1</span></div>
             <div class="col m12 s12 annotation-creator-name">Annotated By: <span class="dynamic">Felix Hemsworth</span></div>
             <div class="col m12 s12 annotation-date-made">Made: <span class="dynamic">07/25/2005</span></div>
             <div class="col m12 s12 annotation-view-in-as"><span class="dynamic"><a href="#">View in Annotation Studios</a></span></div>
           </div>
         </div>
        </div>

      </div>
      <div class="col m12 center"><a class="btn-load-more-annotations">Load More Annotations</a></div>
      <div class="progress col m6 offset-m3 s12 center loader-load-more-annotations">
          <div class="indeterminate"></div>
      </div>
    </div>
  </div>

</div>
