<div id="paper-outline-container-contextmenu" class="collection">
  <a href="#!" class="collection-item">Delete Item</a>
  <a href="#!" class="collection-item">Create Block</a>
  <a href="#!" class="collection-item">Create Note</a>
</div>
