<div id="ideaspaces">
  <div id="ideaspaces-header">
    <div class="col m4">
      <p id="text-ideaspaces-header">Idea Spaces</p>
    </div>
    <div class="col m6">
      <div id="filter-for-ideaspaces" class="input-field col s12">
        <select>
          <optgroup label="Idea Spaces">
            <option value="1"><span class="ideaspaces-options">Owned By You<span></option>
            <option value="2"><span class="ideaspaces-options">Shared To You</span></option>
          </optgroup>
        </select>
      </div>
    </div>
    <div class="col m2">
      <a id="add-new-idea-space" class="btn-floating btn waves-effect waves-light right color-scheme-level-1"><i class="material-icons tooltipped" data-position="left">add</i></a>
    </div>
  </div>
  <div id="ideaspaces-body">
    <div id="create-new-idea-space-box">
      <div class="row my-row">
        <div class="col m12">
          <div id="create-new-idea-space-card" class="card white hoverable choose-idea-space-type-1">
            <div id="new-idea-space-card-content" class="card-content black-text">
              <div>
                <div id="input-idea-space-name-div" class="input-field">
                  <input id="input-idea-space-name" type="text" class="validate">
                  <label for="input-idea-space-name">Name</label>
                </div>
                <div>
                  <span id="characters-left-badge-name" class="new badge" data-badge-caption="Characters">50</span>
                </div>
                <div id="input-idea-space-description-div" class="input-field">
                  <input id="input-idea-space-description" type="text" class="validate">
                  <label for="input-idea-space-description">Description</label>
                </div>
                <div>
                  <span id="characters-left-badge-description" class="new badge" data-badge-caption="Characters">100</span>
                </div>
                <div style="margin-top: 25px;">
                  <a id="btn-create-new-idea-space" class="waves-effect waves-light btn"><i class="material-icons left">check_circle</i>Create</a>
                  <a id="btn-cancel-new-idea-space" class="waves-effect waves-light btn"><i class="material-icons left">cancel</i>Cancel</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row my-row">
      <div class="col m12">
        <div class="card white hoverable choose-idea-space choose-idea-space-type-1">
          <div class="card-content black-text">
            <div class="card-content-time">Updated 10min ago</div>
            <div><span class="card-title">Idea Space Name</span></div>
            <div class="card-description">This is a quick description of the idea space and its content.</div>
            <div class="drag-annotation-box valign-wrapper">
              <div class="drag-annotation-text center">Drop Annotation Here</div>
            </div>
            <div class="drag-annotation-meta-data">
              <span class="new badge" data-badge-caption="Annotations">4</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-row">
      <div class="col m12">
        <div class="card white hoverable choose-idea-space choose-idea-space-type-2">
          <div class="card-content black-text">
            <div class="card-content-time">Updated 10min ago</div>
            <div><span class="card-title">Idea Space Name</span></div>
            <div class="card-description">This is a quick description of the idea space and its content.</div>
            <div class="drag-annotation-box valign-wrapper">
              <div class="drag-annotation-text center">Drop Annotation Here</div>
            </div>
            <div class="drag-annotation-meta-data">
              <span class="new badge" data-badge-caption="Annotations">4</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-row">
      <div class="col m12">
        <div class="card white hoverable choose-idea-space choose-idea-space-type-3">
          <div class="card-content black-text">
            <div class="card-content-time">Updated 10min ago</div>
            <div><span class="card-title">Idea Space Name</span></div>
            <div class="card-description">This is a quick description of the idea space and its content.</div>
            <div class="drag-annotation-box valign-wrapper">
              <div class="drag-annotation-text center">Drop Annotation Here</div>
            </div>
            <div class="drag-annotation-meta-data">
              <span class="new badge" data-badge-caption="Annotations">4</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-row">
      <div class="col m12">
        <div class="card white hoverable choose-idea-space choose-idea-space-type-4">
          <div class="card-content black-text">
            <div class="card-content-time">Updated 10min ago</div>
            <div><span class="card-title">Idea Space Name</span></div>
            <div class="card-description">This is a quick description of the idea space and its content.</div>
            <div class="drag-annotation-box valign-wrapper">
              <div class="drag-annotation-text center">Drop Annotation Here</div>
            </div>
            <div class="drag-annotation-meta-data">
              <span class="new badge" data-badge-caption="Annotations">4</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
