<!-- navbar -->
    <nav>
     <div  id="my-nav-wrapper" class="nav-wrapper teal">
       <a href="#" class=" ideaSpace-logo brand-logo">Idea Space</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down teal">
         <li><a id="link-to-AS" href="collapsible.html">Annotation Studios</a></li>
       </ul>
     </div>
    </nav>
    <!-- end of navbar -->
