<!-- navbar -->
<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Idea Space</a>
    <ul style="margin-left: 240px;" id="nav-mobile" class="left hide-on-med-and-down">
      <li class="active"><a id="link-to-annotations">Annotations</a></li>
      <li><a id="link-to-outlines">Outlines</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down teal">
       <li><a id="link-to-AS" class="color-scheme-level-1" href="#">Annotation Studios</a></li>
       <li><a id="link-to-settings" class='color-scheme-level-1' href='#' data-target='dropdown-settings'><i id="link-to-settings-icon" class="material-icons">settings</i></a></li>
        <!-- Dropdown Structure -->
        <div id='dropdown-settings'>
          <div class="collection">
            <a href="#!" class="collection-item">Profile<i class="material-icons">face</i></a>
            <a id="btn-settings-help" href="#!" class="collection-item">Help<i class="material-icons">help_outline</i></a>
            <a href="#!" class="collection-item">Logout<i class="material-icons">input</i></a>
          </div>
        </div>
     </ul>
  </div>
</nav>
    <!-- end of navbar -->
