<div id="outline-docx-export">
  <ol class="level-1-ol">
    <li>Introduction</li>
    <ol class="level-2-ol">
      <li>This chapter focuses on the following question</li>
      <ol class="level-3-ol">
        <li>When is a person unemployed?</li>
        <li>What are the costs of unemployment?</li>
      </ol>
    </ol>
    <li>The Labor Force</li>
    <ol class="level-2-ol">
      <li>This chapter focuses on the following question</li>
      <li class="annotated-text-li">"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source."</li>
      <ol class="level-annotation-ol">
        <li>Rosnay, T. (2008). Sarah's Key. New York: St. Martin's Griffin</li>
        <li>This piece of text means alot to me. It says alot about the current state of St. Louis and how it is dealing with the current situation it is in.</li>
      </ol>
      <ol class="level-3-ol">
        <li>When is a person unemployed?</li>
        <li>What are the costs of unemployment?</li>
        <ol class="level-4-ol">
          <li>When is a person unemployed?</li>
          <li>What are the costs of unemployment?</li>
        </ol>
      </ol>
    </ol>
  </ol>
  <ol class="level-1-ol">
    <li>More stuff about the subject</li>
    <ol class="level-2-ol">
      <li>This chapter focuses on the following question</li>
      <ol class="level-3-ol">
        <li>When is a person unemployed?</li>
        <li>What are the costs of unemployment?</li>
      </ol>
    </ol>
    <li>Even more stuff</li>
    <ol class="level-2-ol">
      <li>This chapter focuses on the following question</li>
      <li class="annotated-text-li">"Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source."</li>
      <ol class="level-annotation-ol">
        <li>Rosnay, T. (2008). Sarah's Key. New York: St. Martin's Griffin</li>
        <li>This piece of text means alot to me. It says alot about the current state of St. Louis and how it is dealing with the current situation it is in.</li>
      </ol>
      <ol class="level-3-ol">
        <li>When is a person unemployed?</li>
        <li>What are the costs of unemployment?</li>
        <ol class="level-4-ol">
          <li>When is a person unemployed?</li>
          <li>What are the costs of unemployment?</li>
        </ol>
      </ol>
    </ol>
  </ol>
</div>
