<div id="outlines-view-1">
  <div id="outline-header">
    <p class="flow-text"></p>
  </div>
  <div class="outline-body">
    <div class="outline-grouping row">
      <div class="outline-grouping-header">
        <span class="group-name-title"><i class="material-icons">expand_less</i>Title of Group</span>
        <span class="new badge new-outline-badge" data-badge-caption="New Outline"></span>
        <span class="new badge number-of-outlines-badge" data-badge-caption="Outlines">4</span>
      </div>
      <div class="outline-grouping-body">
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
      </div>
    </div>
    <div class="outline-grouping row">
      <div class="outline-grouping-header">
        <span class="group-name-title"><i class="material-icons">expand_less</i>Title of Group</span>
        <span class="new badge new-outline-badge" data-badge-caption="New Outline"></span>
        <span class="new badge number-of-outlines-badge" data-badge-caption="Outlines">4</span>
      </div>
      <div class="outline-grouping-body">
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
      </div>
    </div>
    <div class="outline-grouping row">
      <div class="outline-grouping-header">
        <span class="group-name-title"><i class="material-icons">expand_less</i>Title of Group</span>
        <span class="new badge new-outline-badge" data-badge-caption="New Outline"></span>
        <span class="new badge number-of-outlines-badge" data-badge-caption="Outlines">4</span>
      </div>
      <div class="outline-grouping-body">
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
        <div class="col m4">
          <div class="card outline-card-trigger">
           <div class="card-content my-card-content">
             <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
             <p class="card-outline-date">Jan 12, 2019</p>
           </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
