<div class="materialNote-iso">

  <div id="main-materialnote-container">
    <div id="main-materialnote"></div>
  </div>

  <div id="paper-outline-container">

    <div id="unique-inner-dropzone-id-1dfsfe" class="interact-dropzone center"></div><!--this dropzone was created when the paper outline container was created-->

    <div  id="unique-block-id-1cdce13" class="interact-draggable">
      <div class="row block-row">
        <div class="col m12 my-col">
          <div class="card block-card block-card-level-1 z-depth-0">
            <div class="card-content block-card-content">
                <div class="row my-row">
                  <div class="col m11 block-header-container">
                    <div class="my-slave-materialnote">
                      <h5 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Introduction</h5>
                    </div>
                  </div>
                  <div class="col m1">
                    <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                  </div>
                </div>
              <div id="unique-inner-dropzone-id-2r3dsdf5" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->
              <div id="unique-block-note-id-1dcs" class="interact-draggable">
                <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>



              <div id="unique-bottom-dropzone-id-3jdsosowow" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

              <div id="unique-block-id-2oooo" class="interact-draggable">
                <div class="row block-row">
                  <div class="col m12 my-col">
                    <div class="card block-card block-card-level-2 z-depth-0">
                      <div class="card-content block-card-content">
                        <div class="row my-row">
                          <div class=" col m11 block-header-container">
                            <div class="my-slave-materialnote">
                              <h6 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Section 1.23</h6>
                            </div>
                          </div>
                          <div class="col m1">
                            <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                          </div>
                        </div>
                        <div id="unique-inner-dropzone-id-4ef42" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                        <div id="unique-block-note-id-1233" class="interact-draggable">
                          <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>

                        <div id="unique-bottom-dropzone-id-5fewfdfe" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                        <div id="unique-block-id-3wfefew" class="interact-draggable">
                          <div class="row block-row">
                            <div class="col m12 my-col">
                              <div class="card block-card block-card-level-3 z-depth-0">
                                <div class="card-content block-card-content">
                                  <div class="row my-row">
                                    <div class=" col m11 block-header-container">
                                      <div class="my-slave-materialnote">
                                        <h6 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Section 1.21</h6>
                                      </div>
                                    </div>
                                    <div class="col m1">
                                      <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                                    </div>
                                  </div>
                                  <div id="unique-inner-dropzone-id-6" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                                  <div id="unique-block-note-id-5445" class="interact-draggable">
                                    <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                  </div>

                                  <div id="unique-bottom-dropzone-id-7" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                                  <div id="unique-block-id-4" class="interact-draggable">
                                    <div class="row block-row">
                                      <div class="col m12 my-col">
                                        <div class="card block-card block-card-level-4 z-depth-0">
                                          <div class="card-content block-card-content">
                                            <div class="row my-row">
                                              <div class=" col m11 block-header-container">
                                                <div class="my-slave-materialnote">
                                                  <h6 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Section 1.3</h6>
                                                </div>
                                              </div>
                                              <div class="col m1">
                                                <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                                              </div>
                                            </div>
                                            <div id="unique-inner-dropzone-id-8" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                                            <div id="unique-block-note-id-67567" class="interact-draggable">
                                              <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                            </div>

                                            <div id="unique-bottom-dropzone-id-9" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="unique-block-note-id-vwef" class="interact-draggable">
                <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              </div>

              <div id="unique-block-id-5" class="interact-draggable">
                <div class="row block-row">
                  <div class="col m12 my-col">
                    <div class="card block-card block-card-level-2 z-depth-0">
                      <div class="card-content block-card-content">
                        <div class="row my-row">
                          <div class=" col m11 block-header-container">
                            <div class="my-slave-materialnote">
                              <h6 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Section 1.1</h6>
                            </div>
                          </div>
                          <div class="col m1">
                            <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                          </div>
                        </div>
                        <div id="unique-block-note-id-6" class="interact-draggable">
                          <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div  id="unique-block-id-4223" class="interact-draggable">
    <div class="row block-row">
      <div class="col m12 my-col">
        <div class="card block-card block-card-level-1 z-depth-0">
          <div class="card-content block-card-content">
              <div class="row my-row">
                <div class=" col m11 block-header-container">
                  <div class="my-slave-materialnote">
                    <h5 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Introduction</h5>
                  </div>
                </div>
                <div class="col m1">
                  <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                </div>
              </div>
            <div id="unique-inner-dropzone-id-2" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->
            <div id="unique-block-note-id-10" class="interact-draggable">
              <p  class="block-note my-slave-materialnote ">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div id="unique-bottom-dropzone-id-3" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

            <div id="unique-block-id-2505" class="interact-draggable">
              <div class="row block-row">
                <div class="col m12 my-col">
                  <div class="card block-card block-card-level-2 z-depth-0">
                    <div class="card-content block-card-content">
                      <div class="row my-row">
                        <div class=" col m11 block-header-container">
                          <div class="my-slave-materialnote">
                            <h6 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Section 1</h6>
                          </div>
                        </div>
                        <div class="col m1">
                          <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                        </div>
                      </div>
                      <div id="unique-inner-dropzone-id-4dfew" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->
                      <div id="unique-block-note-id-20" class="interact-draggable">
                        <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                      <div id="unique-bottom-dropzone-id-5deds" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                      <div id="unique-block-id-3dfsf" class="interact-draggable">
                        <div class="row block-row">
                          <div class="col m12 my-col">
                            <div class="card block-card block-card-level-3 z-depth-0">
                              <div class="card-content block-card-content">
                                <div class="row my-row">
                                  <div class=" col m11 block-header-container">
                                    <div class="my-slave-materialnote">
                                      <h6 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Section 1.2</h6>
                                    </div>
                                  </div>
                                  <div class="col m1">
                                    <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                                  </div>
                                </div>
                                <div id="unique-inner-dropzone-id-6i23o" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->
                                <div id="unique-block-note-id-3eseee" class="interact-draggable">
                                  <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                </div>
                                <div id="unique-bottom-dropzone-id-7jkj" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                                <div id="unique-block-id-43eds" class="interact-draggable">
                                  <div class="row block-row">
                                    <div class="col m12 my-col">
                                      <div class="card block-card block-card-level-4 z-depth-0">
                                        <div class="card-content block-card-content">
                                          <div class="row my-row">
                                            <div class=" col m11 block-header-container">
                                              <div class="my-slave-materialnote">
                                                <h6 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Section 1.3</h6>
                                              </div>
                                            </div>
                                            <div class="col m1">
                                              <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                                            </div>
                                          </div>
                                          <div id="unique-inner-dropzone-id-8rreew" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->
                                          <div id="unique-block-note-id-4wrrrw" class="interact-draggable">
                                            <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                          </div>
                                          <div id="unique-bottom-dropzone-id-9grr" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="unique-block-note-id-5sd" class="interact-draggable">
              <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
            <div id="unique-block-id-5edsd24" class="interact-draggable">
              <div class="row block-row">
                <div class="col m12 my-col">
                  <div class="card block-card block-card-level-2 z-depth-0">
                    <div class="card-content block-card-content">
                      <div class="row my-row">
                        <div class=" col m11 block-header-container">
                          <div class="my-slave-materialnote">
                            <h6 class="block-header tooltipped" data-position="right" data-tooltip="Double Click To Edit">Section 1.4</h6>
                          </div>
                        </div>
                        <div class="col m1">
                          <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                        </div>
                      </div>
                      <div id="unique-block-note-id-6rrddsdd" class="interact-draggable">
                        <p class="block-note my-slave-materialnote tooltipped" data-position="right" data-tooltip="Double Click To Edit">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>

  </div>

</div>
