.interact-draggable div[data-event='bold'] {
  transition: none;
}

.interact-draggable div[data-event='italic'] {
  transition: none;
}

.interact-draggable div[data-event='underline'] {
  transition: none;
}

.interact-draggable div[data-event='strikethrough'] {
  transition: none;
}

.interact-draggable div[data-event='superscript'] {
  transition: none;
}

.interact-draggable div[data-event='subscript'] {
  transition: none;
}

.interact-draggable div[data-event='insertUnorderedList'] {
  transition: none;
}

.interact-draggable div[data-event='insertOrderedList'] {
  transition: none;
}

.interact-draggable div[data-event='justifyLeft'] {
  transition: none;
}

.interact-draggable div[data-event='justifyCenter'] {
  transition: none;
}

.interact-draggable div[data-event='justifyRight'] {
  transition: none;
}

.interact-draggable div[data-event='justifyFull'] {
  transition: none;
}

.interact-draggable .note-toolbar.btn-toolbar {
  display: none !important;
}

.interact-draggable .note-editor {
  border: 1px solid #f64c72 !important;
}

#main-materialnote-container .note-editable {
  display: none;
}

#main-materialnote-container .note-editor {
  border-left: 3px solid #f5f5f5 !important;
  border-right: 3px solid #f5f5f5 !important;
  border-bottom: 3px solid #f5f5f5 !important;
}

#main-materialnote-container .note-toolbar {
  background-color: #f5f5f5 !important;
}

#main-materialnote-container .note-editor .btn {
  background-color: #f5f5f5;
  color: #242582 !important;
}

#main-materialnote-container .note-editor div[data-event='color'] {
  background-color: white !important;
}
