<div id="unique-block-id-34" class="annotation-card-container interact-draggable">
  <div class="row">
    <div class="col m12">
        <div class="card white hoverable">
         <div class="card-content">
           <p class="card-annotated-text">"I am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively."</p>
           <div class="text-annotation-dividing-line"></div>
           <p class="card-annotation">heheheheheghehheI am a very simple card. I am good at containing small bits of information.
           I am convenient because I require little markup to use effectively.</p>
           <div class="row annotation-meta-data-container">
             <div class="col m12">


                 <%- include('annotation-meta-data.ejs') %>
               
                 <!--
                 <div class="chip meta-data-chips">
                   <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">assignment</i>Document Name</div>
                 </div>
                 <div class="chip meta-data-chips">
                   <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">group</i>Group Name</div>
                 </div>
                 <div class="chip meta-data-chips">
                   <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">access_time</i>Date made</div>
                 </div>
                 <div class="chip meta-data-chips meta-data-chip-tags meta-data-chip-tag-color-1">
                   <div class="annotation-meta-data annotation-meta-data-tag"><i class="left material-icons meta-data-tag-icons">bookmark</i>Tag 1</div>
                 </div>
                 <div class="chip meta-data-chips meta-data-chip-tags">
                   <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">bookmark</i>Tag 2</div>
                 </div>
                 <div class="chip meta-data-chips meta-data-chip-tags">
                   <div class="annotation-meta-data"><i class="left material-icons meta-data-tag-icons">bookmark</i>Tag 3</div>
                 </div>-->
                 <i class="material-icons right">more_vert</i>
             </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</div>
