<footer id="my-page-footer" class="page-footer white">
  <div id="my-footer-copyright" class="footer-copyright white black-text">
    <div class="container">
    © 2014 Copyright Text
    <a class="black-text right" href="#!">MIT Digital Humanities Lab</a>
    </div>
  </div>
</footer>
