<!-- navbar -->
    <nav>
     <div  id="my-nav-wrapper" class="nav-wrapper  color-scheme-level-1">
       <a href="#" class="ideaSpace-logo brand-logo" data-intro="<h5>Hey!</h5> Lets get you up to speed on how to use Idea Space most efficiently!" data-step="1">Idea Space</a>
       <ul id="nav-mobile" class="right hide-on-med-and-down teal">
         <li><a id="link-to-AS" class="color-scheme-level-1" href="#">Annotation Studios</a></li>
         <li><a id="link-to-settings" class='dropdown-trigger color-scheme-level-1' href='#' data-target='dropdown-settings'><i class="material-icons">settings</i></a></li>
          <!-- Dropdown Structure -->
          <div id='dropdown-settings' class='dropdown-content'>
            <div class="collection">
              <a href="#!" class="collection-item">Profile<i class="material-icons">face</i></a>
              <a id="btn-settings-help" href="#!" class="collection-item">Help<i class="material-icons">help_outline</i></a>
              <a href="#!" class="collection-item">Logout<i class="material-icons">input</i></a>
            </div>
          </div>
       </ul>
     </div>
    </nav>
    <!-- end of navbar -->
