<div id="outline-header-holder" class="row center-align">
  <div class="col m7 offset-m2">
    <h5>Outlines</h5>
  </div>
  <div class="col m3">
    <a id="btn-create-new-outline" class="waves-effect waves-light btn outline-headers modal-trigger" href="#modal-create-new-outline">New Outline</a>
    <div id="modal-create-new-outline" class="modal">
       <div id="modal-content-create-new-outline" class="modal-content">
         <div class="row center">
             <h4>Create New Outline</h4>
         </div>
         <div class="row">
           <div class="input-field col m12">
             <i class="material-icons prefix">textsms</i>
             <input type="text" id="input-outline-name">
             <label for="input-outline-name">Outline Name</label>
           </div>
         </div>
         <div class="row">
           <div class="input-field col m12">
             <i class="material-icons prefix">textsms</i>
             <input type="text" id="input-group-name" class="autocomplete">
             <label for="input-group-name">Group Name</label>
           </div>
         </div>
       </div>
       <div id="modal-footer-create-new-outline" class="modal-footer">
         <a id="modal-btn-cancel-new-outline" class="modal-close waves-effect waves-light btn">Cancel</a>
         <a id="modal-btn-create-new-outline" class="modal-close waves-effect waves-light btn">Create</a>
       </div>
     </div>
  </div>
</div>

<div id="outline-holder" class="row">
  <!--
  <div class="class-outline-holder">
    <div class="row group-names-row">
      <a class="waves-effect waves-light btn outline-headers">New Template</a>
      <div class="divider-line-group-names"></div>
    </div>
    <div class="row">
      <div class="col m4 l4">
        <div class="card outline-card-trigger">
         <div class="card-content my-card-content">
           <span class="activator grey-text text-darken-4"><i class="material-icons left">cloud</i>Card Title<i class="material-icons right">more_vert</i></span>
         </div>
       </div>
      </div>
      <div class="col m4 l4">
        <div class="card outline-card-trigger">
         <div class="card-content my-card-content">
           <span class="activator grey-text text-darken-4"><i class="material-icons left">cloud</i>Card Title<i class="material-icons right">more_vert</i></span>
         </div>
       </div>
      </div>
      <div class="col m4 l4">
        <div class="card outline-card-trigger">
         <div class="card-content my-card-content">
           <span class="activator grey-text text-darken-4"><i class="material-icons left">cloud</i>Card Title<i class="material-icons right">more_vert</i></span>
         </div>
       </div>
      </div>
    </div>
  </div>
  -->
  <div class="class-outline-holder">
    <div class="row group-names-row">
      <a class="btn-collapsible-group btn-collapsible-trigger-1 waves-effect waves-light btn outline-headers">Group Name 1</a>
      <div id="divider-line-group-names-1" class="divider-line-group-names"></div>
    </div>
    <div id="wrapper-collapsible-group-1" class="open wrapper-collapsible-group">
      <div id="list-collapsible-group-1">
        <div class="row">
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="class-outline-holder">
    <div class="row group-names-row">
      <a class="btn-collapsible-group btn-collapsible-trigger-2 waves-effect waves-light btn outline-headers">Group Name 2</a>
      <div id="divider-line-group-names-2" class="divider-line-group-names"></div>
    </div>
    <div id="wrapper-collapsible-group-2" class="open wrapper-collapsible-group">
      <div id="list-collapsible-group-2">
        <div class="row">
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="class-outline-holder">
    <div class="row group-names-row">
      <a class="btn-collapsible-group btn-collapsible-trigger-3 waves-effect waves-light btn outline-headers">Group Name 3</a>
      <div id="divider-line-group-names-3" class="divider-line-group-names"></div>
    </div>
    <div id="wrapper-collapsible-group-3" class="open wrapper-collapsible-group">
      <div id="list-collapsible-group-3">
        <div class="row">
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="class-outline-holder">
    <div class="row group-names-row">
      <a class="btn-collapsible-group btn-collapsible-trigger-4 waves-effect waves-light btn outline-headers">Group Name 4</a>
      <div id="divider-line-group-names-4" class="divider-line-group-names"></div>
    </div>
    <div id="wrapper-collapsible-group-4" class="open wrapper-collapsible-group">
      <div id="list-collapsible-group-4">
        <div class="row">
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="class-outline-holder">
    <div class="row group-names-row">
      <a class="btn-collapsible-group btn-collapsible-trigger-5 waves-effect waves-light btn outline-headers">Group Name 5</a>
      <div id="divider-line-group-names-5" class="divider-line-group-names"></div>
    </div>
    <div id="wrapper-collapsible-group-5" class="open wrapper-collapsible-group">
      <div id="list-collapsible-group-5">
        <div class="row">
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
          <div class="col m4 l4">
            <div class="card outline-card-trigger">
             <div class="card-content my-card-content">
               <span class="activator grey-text text-darken-4">Card Title<i style="margin-top:5px;" class="material-icons right">more_vert</i></span>
               <p class="card-outline-date">Jan 12, 2019</p>
             </div>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
