<nav>
  <div class="nav-wrapper grey lighten-4">
    <ul id="nav-outline-view" class="hide-on-med-and-down">
      <li id="back-to-outlines"><i class="material-icons left">arrow_backward</i></li>
      <li id="btn-overview"><a class="black-text">Overview</a></li>
      <li id="btn-write" class="active"><a class="black-text">Write</a></li>
    </ul>
    <a id="btn-export" class="white-text btn modal-trigger right" href="#modalExport">Export</a>
  </div>
</nav>

  <!-- Modal Structure -->
  <div id="modalExport" class="modal">
    <div class="modal-content">

      <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li id="docx-tab" class="tab col s3"><a class="active" href="#tab-docx-container">Docx</a></li>
            <li id="pdf-tab" class="tab col s3"><a href="#tab-pdf-container">PDF</a></li>
            <li id="html-tab" class="tab col s3"><a href="#tab-html-container">HTML</a></li>
            <li id="json-tab" class="tab col s3"><a href="#tab-json-container">JSON</a></li>
          </ul>
        </div>
      </div>
      <div id="export-container">
        <div class="row">
          <div id="tab-docx-container" class="col s12">

            <%- include('outline-docx-export'); %>

          </div>
          <div id="tab-pdf-container" class="col s12">

            <%- include('outline-pdf-export'); %>

          </div>
          <div id="tab-html-container" class="col s12">

            <%- include('outline-html-export'); %>

          </div>
          <div id="tab-json-container" class="col s12">
            <%- include('outline-json-export'); %>
          </div>
        </div>
      </div>

      <div id="btn-export-as-row" class="row">
        <div class="col s12">
          <a id="btn-export-as" href="#!" class="modal-close waves-effect waves-green btn">Export DOCX</a>
        </div>

      </div>
    </div>

  </div>
<div class="row">
  <div class="col m12">
    <div id="paper-outline-container">
      <div id="unique-inner-dropzone-id-1dfsfe" class="interact-dropzone center"></div><!--this dropzone was created when the paper outline container was created-->

      <div  id="unique-block-id-1cdce13" class="interact-draggable">
        <div class="row block-row">
          <div class="col m12">
            <div class="card block-card block-card-level-1 z-depth-0">
              <div class="card-content">
                  <div class="row">
                    <div class="col m11 block-header-container">
                      <h5 class="block-header">Introduction</h5>
                    </div>
                    <div class="col m1">
                      <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                    </div>
                  </div>
                <div id="unique-inner-dropzone-id-2r3dsdf5" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                <p id="unique-block-note-id-1dcs" class="block-note my-materialnote-containers interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                <button class="btn btn-primary save-materialnote" type="button">Save 2</button>

                <div id="unique-bottom-dropzone-id-3jdsosowow" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                <div id="unique-block-id-2oooo" class="interact-draggable">
                  <div class="row block-row">
                    <div class="col m12">
                      <div class="card block-card block-card-level-2 z-depth-0">
                        <div class="card-content">
                          <div class="row">
                            <div class=" col m11 block-header-container">
                              <h6 class="block-header">Section 1</h6>
                            </div>
                            <div class="col m1">
                              <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                            </div>
                          </div>
                          <div id="unique-inner-dropzone-id-4ef42" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                          <p id="unique-block-note-id-2323322232" class="block-note interact-draggable my-materialnote-containers">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                          <button class="btn btn-primary save-materialnote" type="button">Save 2</button>

                          <div id="unique-bottom-dropzone-id-5fewfdfe" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                          <div id="unique-block-id-3wfefew" class="interact-draggable">
                            <div class="row block-row">
                              <div class="col m12">
                                <div class="card block-card block-card-level-3 z-depth-0">
                                  <div class="card-content">
                                    <div class="row">
                                      <div class=" col m11 block-header-container">
                                        <h6 class="block-header">Section 1.2</h6>
                                      </div>
                                      <div class="col m1">
                                        <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                                      </div>
                                    </div>
                                    <div id="unique-inner-dropzone-id-6" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                                    <p id="unique-block-note-id-3" class="block-note interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                    <div id="unique-bottom-dropzone-id-7" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                                    <div id="unique-block-id-4" class="interact-draggable">
                                      <div class="row block-row">
                                        <div class="col m12">
                                          <div class="card block-card block-card-level-4 z-depth-0">
                                            <div class="card-content">
                                              <div class="row">
                                                <div class=" col m11 block-header-container">
                                                  <h6 class="block-header">Section 1.3</h6>
                                                </div>
                                                <div class="col m1">
                                                  <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                                                </div>
                                              </div>
                                              <div id="unique-inner-dropzone-id-8" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                                              <p id="unique-block-note-id-4" class="block-note interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                              <div id="unique-bottom-dropzone-id-9" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <p id="unique-block-note-id-5" class="block-note interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                <div id="unique-block-id-5" class="interact-draggable">
                  <div class="row block-row">
                    <div class="col m12">
                      <div class="card block-card block-card-level-2 z-depth-0">
                        <div class="card-content">
                          <div class="row">
                            <div class=" col m11 block-header-container">
                              <h6 class="block-header">Section 1.1</h6>
                            </div>
                            <div class="col m1">
                              <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                            </div>
                          </div>
                          <p id="unique-block-note-id-6" class="block-note interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div  id="unique-block-id-4223" class="interact-draggable">
      <div class="row block-row">
        <div class="col m12">
          <div class="card block-card block-card-level-1 z-depth-0">
            <div class="card-content">
                <div class="row">
                  <div class=" col m11 block-header-container">
                    <h5 class="block-header">Introduction</h5>
                  </div>
                  <div class="col m1">
                    <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                  </div>
                </div>
              <div id="unique-inner-dropzone-id-2" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

              <p id="unique-block-note-id-10" class="block-note my-materialnote-containers interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              <button class="btn btn-primary save-materialnote" type="button">Save 2</button>

              <div id="unique-bottom-dropzone-id-3" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

              <div id="unique-block-id-2505" class="interact-draggable">
                <div class="row block-row">
                  <div class="col m12">
                    <div class="card block-card block-card-level-2 z-depth-0">
                      <div class="card-content">
                        <div class="row">
                          <div class=" col m11 block-header-container">
                            <h6 class="block-header">Section 1</h6>
                          </div>
                          <div class="col m1">
                            <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                          </div>
                        </div>
                        <div id="unique-inner-dropzone-id-4dfew" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                        <p id="unique-block-note-id-20" class="block-note interact-draggable my-materialnote-containers">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                        <button class="btn btn-primary save-materialnote" type="button">Save 2</button>

                        <div id="unique-bottom-dropzone-id-5deds" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                        <div id="unique-block-id-3dfsf" class="interact-draggable">
                          <div class="row block-row">
                            <div class="col m12">
                              <div class="card block-card block-card-level-3 z-depth-0">
                                <div class="card-content">
                                  <div class="row">
                                    <div class=" col m11 block-header-container">
                                      <h6 class="block-header">Section 1.2</h6>
                                    </div>
                                    <div class="col m1">
                                      <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                                    </div>
                                  </div>
                                  <div id="unique-inner-dropzone-id-6i23o" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                                  <p id="unique-block-note-id-3eseee" class="block-note interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                  <div id="unique-bottom-dropzone-id-7jkj" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                                  <div id="unique-block-id-43eds" class="interact-draggable">
                                    <div class="row block-row">
                                      <div class="col m12">
                                        <div class="card block-card block-card-level-4 z-depth-0">
                                          <div class="card-content">
                                            <div class="row">
                                              <div class=" col m11 block-header-container">
                                                <h6 class="block-header">Section 1.3</h6>
                                              </div>
                                              <div class="col m1">
                                                <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                                              </div>
                                            </div>
                                            <div id="unique-inner-dropzone-id-8rreew" class="interact-dropzone center"></div><!--this dropzone was created when the block header was created-->

                                            <p id="unique-block-note-id-4wrrrw" class="block-note interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                                            <div id="unique-bottom-dropzone-id-9grr" class="interact-dropzone center"></div><!--this dropzone was created when the block note was created-->

                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p id="unique-block-note-id-5sd" class="block-note interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
              <div id="unique-block-id-5edsd24" class="interact-draggable">
                <div class="row block-row">
                  <div class="col m12">
                    <div class="card block-card block-card-level-2 z-depth-0">
                      <div class="card-content">
                        <div class="row">
                          <div class=" col m11 block-header-container">
                            <h6 class="block-header">Section 1.1</h6>
                          </div>
                          <div class="col m1">
                            <i class="material-icons right btn-collapse-block">arrow_drop_down_circle</i>
                          </div>
                        </div>
                        <p id="unique-block-note-id-6rrddsdd" class="block-note interact-draggable">I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>
